{
    "extends": [
        "airbnb",
        "airbnb/hooks"
    ],
    "rules": {
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "warn",
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "react/jsx-uses-react": "off",
        "react/react-in-jsx-scope": "off",
        "react/jsx-indent": ["error", 4],
        "react/jsx-indent-props": ["error", 4],
        "react/forbid-prop-types": [0],
        "react/jsx-filename-extension": [2, { "extensions": [".js", ".jsx"] }]
    },
    "env": {
        "browser": true,
        "jest": true
    },
    "parserOptions": {
        "ecmaVersion": 11
    }
}
